div.gallery {
  display: flex;
  justify-content:space-between; /* Horizontal alignment*/
  align-items: center; /*Vertical of the elements*/
  margin-bottom: 20px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 30%;
  height: 300px;
}

p {
  text-align: justify;
  margin-left: 5px;
}
