html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,
q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


/* MAIN tAGS */
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

html {
font-size: 18px;
scroll-behavior: smooth;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1em;
font-weight: 300;
line-height: 1.5em;
}

/* NAVIGATION BAR */
ul {
list-style-type: none;
padding: 10px;
overflow: hidden;
}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 25px 16px;
text-decoration: none;
font-family: "playfair display", serif;
margin-right: 10px;
width: 100px;;
}


li a:hover:not(.home) {
background-color: whitesmoke;
}



h3 {
color: black;
text-shadow: 1px 1px lightseagreen;
font-size: 20px;
text-align: center;
align-items: center;
line-height: 40px;
font-family: cursive;
font-family: "playfair display", serif;
}

h4 {
text-align: center;
font-size: 40px;
line-height: 1em;
font-family: "playfair display", serif;
margin-bottom: 1em;
margin-top: 0em;
}

a {
color: black;
font-family: cursive;

}

p {
text-align: center;
text-shadow: black white;
font-family:'playfair display',serif;
}


main {
margin-bottom : 3em;
}


/* HELPER CLASSES */

/* HEADER TEXT */
.cursive {
  font-family: snellroundhandw01-scrip, cursive;
  margin-bottom: .5em;
}

.cursive-2 {
  font-family: snellroundhandw01-scrip, cursive;
  text-align: left;
  margin-left: 6em;
  margin-top: .5em;
}

.font-1 {
  font: 'playfair display',serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.4em;
  font-family: "playfair display", serif;
  color: #292F2F;
  margin-left: 900px;
  margin-top: 200px;

}

.font-2 {
  font: 'playfair display',serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 1em;
  font-family: "playfair display", serif;
  color: #292F2F;
  margin-left: 1em;
}

.showbtn {
  background-color: lightblue;
  border: none;
  color: black;
  padding: .5em .5em .4em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "playfair display", serif;
  
  cursor: pointer;
}

.yestxt {
  font-family: "playfair display", serif;
  text-align: left;
  margin-left: 3.5em;
  margin-top: .5em;
  font-size: 30px;
  font-weight: 300;
}

.top {
background-color:( white);
}

.hero {
width: 100%;
background-image: url("baby.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
height: 600px;
margin-bottom: 3em;
}

.logo {
width : 100px;
padding-left: 10px;

}
.home {
color: lightpink;
font-family: "playfair display", serif;
}


.collections {
width: 100%;
display: flex;
justify-content: center;
padding: 40px;
}

.card {
width : 40%;
min-height: 400px;
background-color: beige;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 100px;
}

.card-1 {
background-image: url("wood.jpg");
margin-right: 5%;

}
.card-2 {
background-image: url("texture.jpg");
}

.card-text {
background-color : white;
max-width: 400px;
width: 800px;
height: 300px;
padding: 5em;
text-align: center;
margin-left: 1em;
margin-right: 1em;

}

.dustytxt {
  margin-top: 6em;
  text-align: center;
  font-size: 40px;
  line-height: 1em;
  font-family: "playfair display", serif;
  margin-bottom: 3em;
}

.collage {
background-color: #bb0000;
background-image: linear-gradient( white, white);
float: left;
display: flex;
width : 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
scroll-padding-right: 20px;
margin-bottom: 70px;
}

.collections2 {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.box1 {
  background-color: #ccffff;
  width: 400px;
  height: 550px;
  margin-top: 3em;
}

.box1img {
  width: 300px;
  height: 400px;
  margin-top: 1em;
  margin-left: 2.8em;
  border: .3em solid white;
}

.box1txt {
  font-family: "playfair display", serif;
  margin-top: .9em; 
  font-size: 1.5em;
}

.box1a {
  
  border: none;
  color: black;
  padding: .5em .5em .5em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8.5em;
}

.box2 {
  background-color: white;
  width: 500px;
  height: 500px;
  margin-left: 4em;
  border: .3em solid black;
  
}

.box2img {
  width: 300px;
  height: 400px;
  margin-top: 2.5em;
  margin-left: 5em;
  margin-bottom: 0em;
  border: .3em solid white;
}

.collections3 {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.box3 {
  background-color: lightslategray;
  width: 400px;
  height: 550px;
  margin-top: 3em;
  border: .3em solid black;
}

.box3img {
  width: 300px;
  height: 400px;
  margin-top: 1em;
  margin-left: 2.8em;
  border: .3em solid white;
}

.box3txt {
  font-family: "playfair display", serif;
  margin-top: .9em; 
  font-size: 1.5em;
}

.box3a {
  
  border: none;
  color: black;
  padding: .5em .5em .5em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8.5em;
}

.box4 {
  background-color: linen;
  width: 400px;
  height: 600px;
  margin-left: 4em;
  
}

.box4img {
  width: 300px;
  height: 400px;
  margin-top: 3em;
  margin-left: 2.8em;
  border: .3em solid white;
  
}

.box4txt {
  font-family: "playfair display", serif;
  margin-top: .9em; 
  font-size: 1.5em;
}

.box4a {
  
  border: none;
  color: black;
  padding: .5em .5em .5em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8.5em;
}



div.gallery {
display: flex;
float: left;
margin-right: 20px;
}

div.gallery img {
width: 300px;
height: 250px;
margin-left: 10px;
}



.fa {
padding:10px;
font-size: 10px;
width: 30px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
margin-left: 550px;
margin-bottom: 20px;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.mySlides {display:none;
width: 400px;
height: 520px;;
margin-left: 9em;
margin-top: 1.5em;
margin-bottom: 2em;
}

