
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,
q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


/* MAIN tAGS */
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

html {
font-size: 18px;
scroll-behavior: smooth;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1em;
font-weight: 300;
line-height: 1.5em;
}

/* NAVIGATION BAR */

ul {
list-style-type: none;
padding: 0px;
overflow: hidden;

width: 500px;
}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 25px 16px;
text-decoration: none;
}

li a:hover:not(.home) {
background-color: whitesmoke;
}


/* HEADER TEXT */

h1 {

text-align: center;
color: whitesmoke;
font-size: 60px;
font-weight: 900;
font-style: italic;
padding:50px;
text-shadow: 0 2px 2px black;
line-height: 50px;
margin-top: 400px;
}

h3 {
  color: black;
  text-shadow: 1px 1px lightseagreen;
  font-size: 30px;
  text-align: center;
  align-items: center;
 line-height: 40px;
 font-family: cursive;
}

h4 {
  text-align: center;
  font-size: 40px;
  text-shadow: 0 2px 2px black;
  margin-bottom: 50px;
}


a {
  color: skyblue;
  font-family: cursive;
}

p {
  text-align: center;
  text-shadow: black white;
}


/* HELPER CLASSES */


.top {
    background-color: #bb0000;
    background-image: linear-gradient( white, #809fff);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 100px;
}
.hero {
    margin-top: 30px;
    background-image: url("home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px ;
    
  
  }

  
  
  
  
  .logo {
  width: 60px;
  padding: 10px;
  margin-top: 10px;
  }
  .home {
  background-color: white;
  padding: 25px;
  }

  main {
    margin-bottom : 3em;
  }


  .collections {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
    
  }
  .card {
    width : 40%;
    min-height: 400px;
    background-color: beige;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
  }

  .card-1 {
    background-image: url("pinkrose.jpg");
    margin-right: 5%;
    border-radius: 6px;
    border: 3px solid lightseagreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  .card-2 {
    background-image: url("roses.jpg");
    border-radius: 6px;
    border: 3px solid lightseagreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-text {
    background-color : white;
    max-width: 400px;
    width: 800px;
    height: 300px;
    opacity: .6;
    padding: 5em;
    border-radius: 6px;
    text-align: center;
  }

  .collage {
    background-color: #bb0000;
    background-image: linear-gradient( white, white);
    float: left;
    display: flex;
    width : 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scroll-padding-right: 20px;
    margin-bottom: 70px;
  }

  

  div.gallery {
    display: flex;
    float: left;
    margin-right: 20px;
  }
  
  
  div.gallery img {
    width: 300px;
    height: 250px;
    margin-left: 10px;
  }

  .social {
    background-color: #bb0000;
    background-image: linear-gradient( white, #809fff);
    float: left;
    display: flex;
    width : 100%;
    min-height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }

  .fa {
    float: left;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    align-content: center;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 500px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border: 2px solid white;
    border-radius:50px;
    margin-right: 10px;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    border: 2px solid white;
    border-radius:50px;
    margin-right: 10px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 10px;
  }
  



